@inherits LayoutComponentBase
@using Tasker.Web.Components.Layout

<div class="page d-flex">
    <div class="sidebar bg-light border-end">
        <NavMenu />
    </div>

    <main class="flex-grow-1">
        <div class="top-row px-4 py-2 bg-white shadow-sm d-flex justify-content-between align-items-center">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4 py-3">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" class="alert alert-danger fixed-bottom m-3 d-none">
    An unhandled error has occurred.
    <a href="" class="reload alert-link">Reload</a>
    <a class="dismiss text-danger" style="cursor:pointer">🗙</a>
</div>
